.form-group{
    display: flex;
    flex-direction: column;
    margin: 7px;
}

form{
    background-color: rgb(157, 144, 144);
    background-color:rgb(97, 201, 219);
    padding: 40px;
    box-shadow:15px 25px 36px 30px rgb(86, 162, 175);
    
}