.container-app{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    background-color: #1bb9cd;
    color: white;
    // color:rgb(51, 170, 188);
    padding: 10px;
    align-items :center;
    justify-content: center;
    text-align: center;
    
}